openapi: 3.0.3
info:
  title: TCBS iFlash Open API
  description: REST APIs for trading stocks and derivatives on TCBS.
  version: 1.0.0
  contact:
    email: openapi@tcbs.com.vn
servers:
  - url: https://openapi.tcbs.com.vn
    description: Production
security:
  - bearerAuth: []
tags:
  - name: authentication
    description: Xác thực và cấp token truy cập.
    x-group: Xác thực
  - name: account
    description: Thông tin tài khoản, tài sản và hạn mức.
    x-group: Tài khoản
  - name: market
    description: Dữ liệu chứng khoán và phái sinh.
    x-group: Dữ liệu thị trường
  - name: cash
    description: Giao dịch và thông tin tiền.
    x-group: Tiền
  - name: stock-orders
    description: Đặt, sửa, hủy và tra cứu lệnh cổ phiếu.
    x-group: Lệnh cổ phiếu
  - name: derivative-orders
    description: Đặt, sửa, hủy và tra cứu lệnh phái sinh.
    x-group: Lệnh phái sinh
paths:
  /aion/v1/accounts/{accountNo}/cashInvestments:
    $ref: "./paths/accounts/accounts_getCashInvestments.yaml"
  /aion/v1/accounts/{accountNo}/matching-details:
    $ref: "./paths/orders/stock/accounts_getMatchingDetails.yaml"
  /aion/v1/accounts/{accountNo}/orders:
    $ref: "./paths/orders/stock/accounts_getOrders.yaml"
  /aion/v1/accounts/{accountNo}/orders/{orderID}:
    $ref: "./paths/orders/stock/accounts_getOrder.yaml"
  /aion/v1/accounts/{accountNo}/ppse:
    $ref: "./paths/orders/stock/accounts_getPpse.yaml"
  /aion/v1/accounts/{accountNo}/ppse/{symbol}:
    $ref: "./paths/orders/stock/accounts_getPpseBySymbol.yaml"
  /aion/v1/accounts/{accountNo}/ppse/{symbol}/{price}:
    $ref: "./paths/orders/stock/accounts_getPpseBySymbolPrice.yaml"
  /aion/v1/accounts/{accountNo}/se:
    $ref: "./paths/orders/stock/accounts_getStockAsset.yaml"
  /aion/v1/customers/{custodyId}/accounts:
    $ref: "./paths/accounts/accounts_getMarginLimit.yaml"
  /akhlys/v1/accounts/{accountNo}/cancel-orders:
    $ref: "./paths/orders/stock/orders_putCancelOrders.yaml"
  /akhlys/v1/accounts/{accountNo}/orders:
    $ref: "./paths/orders/stock/orders_postOrder.yaml"
  /akhlys/v1/accounts/{accountNo}/orders/{orderId}:
    $ref: "./paths/orders/stock/orders_putOrder.yaml"
  /ananke/v1/securities:
    $ref: "./paths/market/market_getSecurities.yaml"
  /campaign-management/v1/margin/subscription/{accountNo}/addons/detail:
    $ref: "./paths/accounts/marginSubscription_getAddonsDetail.yaml"
  /erebos/v2/digital/margin-info:
    $ref: "./paths/money/margin_getInfo.yaml"
  /eros/v2/get-profile/by-username/{custodyCode}:
    $ref: "./paths/accounts/profiles_getByCustodyCode.yaml"
  /gaia/v1/oauth2/openapi/request-otp:
    $ref: "./paths/auth/oauth2_postRequestOtp.yaml"
  /gaia/v1/oauth2/openapi/token:
    $ref: "./paths/auth/oauth2_postToken.yaml"
  /hydros/v1/account/{accountNo}/pricing-policy:
    $ref: "./paths/accounts/accounts_getPricingPolicy.yaml"
  /hydros/v1/account/{accountNo}/risk:
    $ref: "./paths/accounts/accounts_getRisk.yaml"
  /khaos/v1/loan/{accountNo}:
    $ref: "./paths/accounts/accounts_getLoan.yaml"
  /khronos/v1/account/portfolio/position/close:
    $ref: "./paths/accounts/positions_getClosed.yaml"
  /khronos/v1/account/portfolio/status:
    $ref: "./paths/accounts/positions_getOpen.yaml"
  /khronos/v1/account/status:
    $ref: "./paths/accounts/accounts_getStatus.yaml"
  /khronos/v1/cash/deposit/update:
    $ref: "./paths/money/cash_postDepositUpdate.yaml"
  /khronos/v1/cash/withdraw/update:
    $ref: "./paths/money/cash_postWithdrawUpdate.yaml"
  /khronos/v1/order/cancel:
    $ref: "./paths/orders/derivatives/orders_postCancel.yaml"
  /khronos/v1/order/change:
    $ref: "./paths/orders/derivatives/orders_postChange.yaml"
  /khronos/v1/order/condition/cancel:
    $ref: "./paths/orders/derivatives/orders_postConditionCancel.yaml"
  /khronos/v1/order/condition/detail:
    $ref: "./paths/orders/derivatives/orders_getConditionDetail.yaml"
  /khronos/v1/order/condition/place:
    $ref: "./paths/orders/derivatives/orders_postConditionPlace.yaml"
  /khronos/v1/order/in-day:
    $ref: "./paths/orders/derivatives/orders_getInDay.yaml"
  /khronos/v1/order/place:
    $ref: "./paths/orders/derivatives/orders_postPlace.yaml"
  /khronos/v2/order/condition/change:
    $ref: "./paths/orders/derivatives/orders_postV2ConditionChange.yaml"
  /nyx/v1/intraday/{ticker}/bsa:
    $ref: "./paths/market/ticker_getIntradayBsa.yaml"
  /nyx/v1/intraday/{ticker}/bsa-ext:
    $ref: "./paths/market/ticker_getIntradayBsaExt.yaml"
  /nyx/v1/intraday/{ticker}/bsa-month:
    $ref: "./paths/market/ticker_getIntradayBsaMonth.yaml"
  /nyx/v1/intraday/{ticker}/his/paging:
    $ref: "./paths/market/ticker_getIntradayHisPaging.yaml"
  /physis/v1/stock/transfer:
    $ref: "./paths/money/stocks_postTransfer.yaml"
  /tartarus/v1/derivatives:
    $ref: "./paths/market/market_getDerivatives.yaml"
  /tartarus/v1/putThroughSnaps:
    $ref: "./paths/market/putThrough_getSnaps.yaml"
  /tartarus/v1/tickerCommons:
    $ref: "./paths/market/ticker_getCommons.yaml"
  /tartarus/v1/tickerSnaps:
    $ref: "./paths/market/ticker_getSnaps.yaml"
components:
  schemas:
    Security:
      $ref: "./components/schemas/Security.yaml"
    SecuritiesInfo:
      $ref: "./components/schemas/SecuritiesInfo.yaml"
    SecuritiesResponse:
      $ref: "./components/schemas/SecuritiesResponse.yaml"
    PricingPolicy:
      $ref: "./components/schemas/PricingPolicy.yaml"
    PricingPolicyLadderValue:
      $ref: "./components/schemas/PricingPolicyLadderValue.yaml"
    PricingPolicyState:
      $ref: "./components/schemas/PricingPolicyState.yaml"
    PricingPolicyResponse:
      $ref: "./components/schemas/PricingPolicyResponse.yaml"
    StockOrderDirection:
      $ref: "./components/schemas/enums/StockOrderDirection.yaml"
    StockPriceType:
      $ref: "./components/schemas/enums/StockPriceType.yaml"
    StockOrderStatus:
      $ref: "./components/schemas/enums/StockOrderStatus.yaml"
    StockOrderSide:
      $ref: "./components/schemas/enums/StockOrderSide.yaml"
    SubAccountStatus:
      $ref: "./components/schemas/enums/SubAccountStatus.yaml"
    SubAccountType:
      $ref: "./components/schemas/enums/SubAccountType.yaml"
    IAConnection:
      $ref: "./components/schemas/enums/IAConnection.yaml"
    MarketBasket:
      $ref: "./components/schemas/enums/MarketBasket.yaml"
    MarketFloor:
      $ref: "./components/schemas/enums/MarketFloor.yaml"
    InvestorType:
      $ref: "./components/schemas/enums/InvestorType.yaml"
    IntradayTimeWindow:
      $ref: "./components/schemas/enums/IntradayTimeWindow.yaml"
    IntradayTWindow:
      $ref: "./components/schemas/enums/IntradayTWindow.yaml"
    DerivativeGetType:
      $ref: "./components/schemas/enums/DerivativeGetType.yaml"
    DerivativeSide:
      $ref: "./components/schemas/enums/DerivativeSide.yaml"
    DerivativeConditionalOrderType:
      $ref: "./components/schemas/enums/DerivativeConditionalOrderType.yaml"
    DerivativeOrderTypeFilter:
      $ref: "./components/schemas/enums/DerivativeOrderTypeFilter.yaml"
    DerivativeOrderStatusFilter:
      $ref: "./components/schemas/enums/DerivativeOrderStatusFilter.yaml"
    DerivativeConditionalStatus:
      $ref: "./components/schemas/enums/DerivativeConditionalStatus.yaml"
    DerivativeConditionalOrderTypeFilter:
      $ref: "./components/schemas/enums/DerivativeConditionalOrderTypeFilter.yaml"
  securitySchemes:
    bearerAuth:
      $ref: "./components/securitySchemes/BearerAuth.yaml"
