openapi: 3.1.0
info:
  title: Finhay Securities Open API
  version: 0.2.0-preview.3
  description: |
    Đặc tả chính thức của Finhay Securities Open API, dùng chung cho SDK
    codegen, Redoc docs, và (sau này) mock server / contract test.

    ## Authentication — 2 tier

    - **Tier 1 — chỉ cần API key**: các endpoint đọc dữ liệu thị trường
      (`GET /market/**`, `GET /trading/market/**`). Gửi kèm header
      `X-FH-APIKEY` là đủ.
    - **Tier 2 — HMAC signing**: các endpoint liên quan đến account /
      trading / user. Gửi kèm 4 header `X-FH-APIKEY` + `X-FH-TIMESTAMP` +
      `X-FH-NONCE` + `X-FH-SIGNATURE`; thêm `X-FH-BODYHASH` khi request có
      body. Chi tiết thuật toán xem extension `x-finhay-signing` ở root
      spec hoặc phần README.

    ## Bootstrap flow

    Gọi 2 endpoint tag **Khởi tạo** (`GET /users/v1/users/me` và
    `GET /users/v1/users/{userId}/sub-accounts`) **1 lần khi khởi tạo
    client** để lấy thông tin `user_id` và `subAccountId`. Mọi endpoint thuộc
    tag **Tổng tài sản / Tiểu khoản / Danh mục đầu tư / Sổ lệnh / Lãi-lỗ /
    Quyền cổ đông** đều cần 2 giá trị này để truyền vào path parameter.
  contact: {}
servers:
  - url: https://open-api.fhsc.com.vn
    description: Production
security:
  - FinhayApiKey: []
tags:
  - name: bootstrap
    description: Khởi tạo client — lấy `user_id` và `subAccountId`. Gọi 1 lần khi khởi tạo SDK rồi cache lại.
    x-group: Khởi tạo
  - name: market-data
    description: Giá stock realtime và lịch sử OHLCV (dạng columnar, phục vụ charting / time-series).
    x-group: Dữ liệu giao dịch
  - name: fundamental-analysis
    description: Chỉ số tài chính cơ bản của doanh nghiệp — chỉ số tổng quan, phân tích theo kỳ và báo cáo tài chính chuẩn (income statement / balance sheet / cash flow).
    x-group: Phân tích cơ bản
  - name: news-events
    description: Sự kiện doanh nghiệp (cổ tức, quyền mua, ĐHCĐ, …), tin tức stock, tin tức tài chính toàn cầu (forex / commodities / economic-indicators / stock-market / cryptocurrency) và báo cáo khuyến nghị từ analyst.
    x-group: Tin tức-sự kiện
  - name: macroeconomics
    description: Chỉ số kinh tế vĩ mô (CPI, PMI, PCE, GDP, …) và lãi suất tiền gửi ngân hàng.
    x-group: Kinh tế vĩ mô
  - name: commodities
    description: Hàng hoá và tài sản thay thế — vàng, bạc (spot / chart / theo nhà cung cấp) và crypto trending.
    x-group: Hàng hoá
  - name: aggregated
    description: Endpoint composite tổng hợp cross-domain (vàng / bạc / crypto / FX / lãi suất / US index) trong 1 call. Nên dùng endpoint chuyên biệt nếu chỉ cần 1 loại.
    x-group: Tổng hợp đa loại
  - name: mutual-funds
    description: Quỹ mở (open-ended funds) — danh sách quỹ, công ty quản lý, NAV history, holdings, ranking và benchmark cross-fund.
    x-group: Quỹ mở
  - name: total-assets
    description: Tổng quan tài sản cấp user — cross-product (stock, fund, bond, hay0) kèm cash, debt, PnL.
    x-group: Tổng tài sản
  - name: sub-account
    description: Thông tin tiểu khoản — số dư, margin, dư nợ và ngân hàng liên kết.
    x-group: Tiểu khoản
  - name: portfolio
    description: Danh mục stock đang nắm giữ kèm giá realtime và PnL theo vị thế.
    x-group: Danh mục đầu tư
  - name: order-book
    description: Quản lý lệnh — sổ lệnh trong ngày, danh sách đầy đủ hoặc chi tiết theo `orderId`.
    x-group: Sổ lệnh
  - name: pnl
    description: PnL và analytics cá nhân — lãi / lỗ trong ngày tổng hợp theo user.
    x-group: Lãi-lỗ
  - name: shareholder-rights
    description: Quyền cổ đông (cổ tức, quyền mua, bỏ phiếu, …) của tiểu khoản.
    x-group: Quyền cổ đông
  - name: trading-session
    description: Hạ tầng trading — trạng thái phiên giao dịch và order type khả dụng của mỗi exchange.
    x-group: Phiên giao dịch
  - name: order-execution
    description: |
      ⚠️ Nhóm endpoint này đang ở giai đoạn **preview**.

      Đặt / sửa / huỷ lệnh trên sàn — write operation nhạy cảm, yêu cầu
      Tier 2 HMAC đầy đủ + `X-FH-BODYHASH` + `X-FH-2FA-TOKEN` (daily 2FA
      session).
    x-group: Thực thi lệnh
paths:
  /users/v1/users/me:
    $ref: "./paths/users/bootstrapGetMe.yaml"

  /users/v1/users/{userId}/sub-accounts:
    $ref: "./paths/users/bootstrapGetSubAccounts.yaml"

  /market/financial-data/bank-interest-rates:
    $ref: "./paths/market/macroGetBankInterestRates.yaml"

  /market/recommendation-reports/{symbol}:
    $ref: "./paths/market/corporateGetRecommendationReports.yaml"

  /market/company-financial/overview:
    $ref: "./paths/market/fundamentalGetOverview.yaml"

  /market/company-financial/analysis:
    $ref: "./paths/market/fundamentalGetAnalysis.yaml"

  /market/v2/financial-statement/statement:
    $ref: "./paths/market/fundamentalGetStatement.yaml"

  /trading/accounts/{subAccountId}/summary:
    $ref: "./paths/trading/accountGetSummary.yaml"

  /trading/v1/accounts/{subAccountId}/order-book:
    $ref: "./paths/trading/ordersGetOrderBook.yaml"

  /trading/v1/accounts/{subAccountId}/order-book/{orderId}:
    $ref: "./paths/trading/ordersGetOrderBookDetail.yaml"

  /trading/v2/sub-accounts/{subAccountId}/portfolio:
    $ref: "./paths/trading/portfolioGetHoldings.yaml"

  /trading/v5/account/{subAccountId}/user-rights:
    $ref: "./paths/trading/rightsGetUserRights.yaml"

  /trading/pnl-today/{userId}:
    $ref: "./paths/trading/performanceGetPnlToday.yaml"

  /trading/market/session:
    $ref: "./paths/trading/tradingSessionGet.yaml"

  /trading/oa/sub-accounts/{subAccountId}/orders:
    $ref: "./paths/trading/ordersPlace.yaml"

  /trading/oa/sub-accounts/{subAccountId}/orders/{orderId}:
    $ref: "./paths/trading/ordersModify.yaml"

  /users/v3/users/{userId}/assets/summary:
    $ref: "./paths/users/assetGetSummary.yaml"

  /market/macro/indicators:
    $ref: "./paths/market/listMacroIndicators.yaml"

  /market/macro/indicators/{indicator}:
    $ref: "./paths/market/getMacroIndicator.yaml"

  /market/calendar:
    $ref: "./paths/market/calendarListEvents.yaml"

  /market/market-news:
    $ref: "./paths/market/corporateGetMarketNews.yaml"

  /market/market-news/{id}:
    $ref: "./paths/market/corporateGetMarketNewsDetail.yaml"

  /market/quotes/stocks:
    $ref: "./paths/market/quotesGetStocksCatalog.yaml"

  /market/quotes/stocks/{symbol}:
    $ref: "./paths/market/quotesGetStock.yaml"

  /market/quotes/stocks/{symbol}/order-book:
    $ref: "./paths/market/quotesGetStockOrderBook.yaml"

  /market/quotes/stocks/{symbol}/history:
    $ref: "./paths/market/quotesGetStockHistory.yaml"

  /market/quotes/indices:
    $ref: "./paths/market/quotesGetIndicesCatalog.yaml"

  /market/quotes/indices/{symbol}:
    $ref: "./paths/market/quotesGetIndex.yaml"

  /market/quotes/indices/{symbol}/history:
    $ref: "./paths/market/quotesGetIndexHistory.yaml"

  /market/quotes/forex:
    $ref: "./paths/market/quotesGetForexCatalog.yaml"

  /market/quotes/forex/{symbol}:
    $ref: "./paths/market/quotesGetForex.yaml"

  /market/quotes/forex/{symbol}/history:
    $ref: "./paths/market/quotesGetForexHistory.yaml"

  /market/quotes/cryptos:
    $ref: "./paths/market/quotesGetCryptosCatalog.yaml"

  /market/quotes/cryptos/{symbol}:
    $ref: "./paths/market/quotesGetCrypto.yaml"

  /market/quotes/cryptos/{symbol}/history:
    $ref: "./paths/market/quotesGetCryptoHistory.yaml"

  /market/quotes/commodities:
    $ref: "./paths/market/quotesGetCommoditiesCatalog.yaml"

  /market/quotes/commodities/{symbol}:
    $ref: "./paths/market/quotesGetCommodity.yaml"

  /market/quotes/commodities/{symbol}/history:
    $ref: "./paths/market/quotesGetCommodityHistory.yaml"

  /market/quotes/funds:
    $ref: "./paths/market/quotesGetFundsCatalog.yaml"

  /market/quotes/funds/{symbol}:
    $ref: "./paths/market/quotesGetFund.yaml"

  /market/quotes/funds/{symbol}/history:
    $ref: "./paths/market/quotesGetFundHistory.yaml"

  /market/quotes/bonds:
    $ref: "./paths/market/quotesGetBondsCatalog.yaml"

  /market/quotes/bonds/{symbol}:
    $ref: "./paths/market/quotesGetBond.yaml"

  /market/quotes/bonds/{symbol}/order-book:
    $ref: "./paths/market/quotesGetBondOrderBook.yaml"

  /market/quotes/bonds/{symbol}/history:
    $ref: "./paths/market/quotesGetBondHistory.yaml"

  /market/quotes/etfs:
    $ref: "./paths/market/quotesGetEtfsCatalog.yaml"

  /market/quotes/etfs/{symbol}:
    $ref: "./paths/market/quotesGetEtf.yaml"

  /market/quotes/etfs/{symbol}/order-book:
    $ref: "./paths/market/quotesGetEtfOrderBook.yaml"

  /market/quotes/etfs/{symbol}/history:
    $ref: "./paths/market/quotesGetEtfHistory.yaml"

  /market/quotes/commodities/{symbol}/dealer-products:
    $ref: "./paths/market/quotesGetDealerProducts.yaml"

  /market/quotes/commodities/{symbol}/dealer-products/{code}:
    $ref: "./paths/market/quotesGetDealerProduct.yaml"

  /market/quotes/commodities/{symbol}/dealer-products/{code}/history:
    $ref: "./paths/market/quotesGetDealerProductHistory.yaml"

  /market/stocks:
    $ref: "./paths/market/stocksScreen.yaml"

  /market/stocks/{symbol}/profile:
    $ref: "./paths/market/stocksGetProfile.yaml"

  /market/stocks/{symbol}/listing:
    $ref: "./paths/market/stocksGetListing.yaml"

  /market/stocks/{symbol}/ownership:
    $ref: "./paths/market/stocksGetOwnership.yaml"

  /market/stocks/{symbol}/ownership/foreign-room:
    $ref: "./paths/market/stocksGetForeignRoom.yaml"

  /market/stocks/{symbol}/ownership/foreign-room/history:
    $ref: "./paths/market/stocksGetForeignRoomHistory.yaml"

  /market/stocks/{symbol}/technicals:
    $ref: "./paths/market/stocksGetTechnicals.yaml"

  /market/stocks/{symbol}/trading:
    $ref: "./paths/market/stocksGetTrading.yaml"

  /market/stocks/{symbol}/trading/history:
    $ref: "./paths/market/stocksGetTradingHistory.yaml"

  /market/stocks/{symbol}/trading/foreign:
    $ref: "./paths/market/stocksGetForeignTrading.yaml"

  /market/stocks/{symbol}/trading/foreign/history:
    $ref: "./paths/market/stocksGetForeignTradingHistory.yaml"

  /market/stocks/{symbol}/trading/proprietary:
    $ref: "./paths/market/stocksGetProprietaryTrading.yaml"

  /market/stocks/{symbol}/trading/proprietary/history:
    $ref: "./paths/market/stocksGetProprietaryTradingHistory.yaml"

  /market/stocks/{symbol}/trading/orders:
    $ref: "./paths/market/stocksGetOrderStatistic.yaml"

  /market/stocks/{symbol}/trading/orders/history:
    $ref: "./paths/market/stocksGetOrderStatisticHistory.yaml"
components:
  securitySchemes:
    FinhayApiKey:
      $ref: "./components/securitySchemes/FinhayApiKey.yaml"
    FinhayTimestamp:
      $ref: "./components/securitySchemes/FinhayTimestamp.yaml"
    FinhayNonce:
      $ref: "./components/securitySchemes/FinhayNonce.yaml"
    FinhaySignature:
      $ref: "./components/securitySchemes/FinhaySignature.yaml"
    FinhayBodyHash:
      $ref: "./components/securitySchemes/FinhayBodyHash.yaml"
    FinhayTwoFactor:
      $ref: "./components/securitySchemes/FinhayTwoFactor.yaml"
  schemas:
    EnvelopeBase:
      $ref: "./components/schemas/common/EnvelopeBase.yaml"
    UserProfile:
      $ref: "./components/schemas/users/UserProfile.yaml"
    UserProfileResponse:
      $ref: "./components/schemas/users/UserProfileResponse.yaml"
    ErrorBody:
      $ref: "./components/schemas/common/ErrorBody.yaml"
    SubAccount:
      $ref: "./components/schemas/users/SubAccount.yaml"
    SubAccountsResponse:
      $ref: "./components/schemas/users/SubAccountsResponse.yaml"
    Exchange:
      $ref: "./components/schemas/market/Exchange.yaml"
    BankInterestRates:
      $ref: "./components/schemas/market/BankInterestRates.yaml"
    BankInterestRatesResponse:
      $ref: "./components/schemas/market/BankInterestRatesResponse.yaml"
    EconomicCountry:
      $ref: "./components/schemas/market/EconomicCountry.yaml"
    IndexRecommendationReport:
      $ref: "./components/schemas/market/IndexRecommendationReport.yaml"
    RecommendationReport:
      $ref: "./components/schemas/market/RecommendationReport.yaml"
    RecommendationReportsResponse:
      $ref: "./components/schemas/market/RecommendationReportsResponse.yaml"
    Resolution:
      $ref: "./components/schemas/market/Resolution.yaml"
    FinancialOverview:
      $ref: "./components/schemas/market/FinancialOverview.yaml"
    FinancialOverviewResponse:
      $ref: "./components/schemas/market/FinancialOverviewResponse.yaml"
    FinancialPeriod:
      $ref: "./components/schemas/market/FinancialPeriod.yaml"
    FinancialAnalysisEntry:
      $ref: "./components/schemas/market/FinancialAnalysisEntry.yaml"
    FinancialAnalysisResponse:
      $ref: "./components/schemas/market/FinancialAnalysisResponse.yaml"
    FinancialStatementType:
      $ref: "./components/schemas/market/FinancialStatementType.yaml"
    FinancialStatementEntry:
      $ref: "./components/schemas/market/FinancialStatementEntry.yaml"
    FinancialStatementResponse:
      $ref: "./components/schemas/market/FinancialStatementResponse.yaml"
    AccountSummary:
      $ref: "./components/schemas/trading/AccountSummary.yaml"
    AccountSummaryResponse:
      $ref: "./components/schemas/trading/AccountSummaryResponse.yaml"
    OrderBookEntry:
      $ref: "./components/schemas/trading/OrderBookEntry.yaml"
    OrderBookResponse:
      $ref: "./components/schemas/trading/OrderBookResponse.yaml"
    OrderBookDetailResponse:
      $ref: "./components/schemas/trading/OrderBookDetailResponse.yaml"
    PortfolioEntry:
      $ref: "./components/schemas/trading/PortfolioEntry.yaml"
    GetPortfolioResponse:
      $ref: "./components/schemas/trading/GetPortfolioResponse.yaml"
    PortfolioResponse:
      $ref: "./components/schemas/trading/PortfolioResponse.yaml"
    UserRightStatus:
      $ref: "./components/schemas/trading/UserRightStatus.yaml"
    UserRightRegisterStatus:
      $ref: "./components/schemas/trading/UserRightRegisterStatus.yaml"
    UserRightType:
      $ref: "./components/schemas/trading/UserRightType.yaml"
    UserRight:
      $ref: "./components/schemas/trading/UserRight.yaml"
    UserRightsResponse:
      $ref: "./components/schemas/trading/UserRightsResponse.yaml"
    PnlToday:
      $ref: "./components/schemas/trading/PnlToday.yaml"
    PnlTodayResponse:
      $ref: "./components/schemas/trading/PnlTodayResponse.yaml"
    ExchangeSession:
      $ref: "./components/schemas/trading/ExchangeSession.yaml"
    OrderType:
      $ref: "./components/schemas/trading/OrderType.yaml"
    ExchangeSessionInfo:
      $ref: "./components/schemas/trading/ExchangeSessionInfo.yaml"
    MarketSessionResponse:
      $ref: "./components/schemas/trading/MarketSessionResponse.yaml"
    OrderSide:
      $ref: "./components/schemas/trading/OrderSide.yaml"
    PlaceOrderKind:
      $ref: "./components/schemas/trading/PlaceOrderKind.yaml"
    MarketPriceCode:
      $ref: "./components/schemas/trading/MarketPriceCode.yaml"
    StockTypeOrder:
      $ref: "./components/schemas/trading/StockTypeOrder.yaml"
    PlaceOrderRequest:
      $ref: "./components/schemas/trading/PlaceOrderRequest.yaml"
    OrderStatus:
      $ref: "./components/schemas/trading/OrderStatus.yaml"
    LotType:
      $ref: "./components/schemas/trading/LotType.yaml"
    OrderExecutionResult:
      $ref: "./components/schemas/trading/OrderExecutionResult.yaml"
    PlaceOrderResponse:
      $ref: "./components/schemas/trading/PlaceOrderResponse.yaml"
    ModifyOrderRequest:
      $ref: "./components/schemas/trading/ModifyOrderRequest.yaml"
    ModifyOrderResponse:
      $ref: "./components/schemas/trading/ModifyOrderResponse.yaml"
    CancelOrderRequest:
      $ref: "./components/schemas/trading/CancelOrderRequest.yaml"
    CancelOrderResponse:
      $ref: "./components/schemas/trading/CancelOrderResponse.yaml"
    ProductsSummary:
      $ref: "./components/schemas/users/ProductsSummary.yaml"
    MoneySummary:
      $ref: "./components/schemas/users/MoneySummary.yaml"
    DebtSummary:
      $ref: "./components/schemas/users/DebtSummary.yaml"
    PnlEntry:
      $ref: "./components/schemas/users/PnlEntry.yaml"
    PnlSummary:
      $ref: "./components/schemas/users/PnlSummary.yaml"
    UserAssetsSummary:
      $ref: "./components/schemas/users/UserAssetsSummary.yaml"
    UserAssetsSummaryResponse:
      $ref: "./components/schemas/users/UserAssetsSummaryResponse.yaml"
    BankInterestRate:
      $ref: "./components/schemas/market/BankInterestRate.yaml"
    BankInterestRateGroup:
      $ref: "./components/schemas/market/BankInterestRateGroup.yaml"
    MacroIndicatorCatalogItem:
      $ref: "./components/schemas/market/MacroIndicatorCatalogItem.yaml"
    MacroIndicatorCatalogResponse:
      $ref: "./components/schemas/market/MacroIndicatorCatalogResponse.yaml"
    MacroIndicatorObservation:
      $ref: "./components/schemas/market/MacroIndicatorObservation.yaml"
    MacroIndicatorSeries:
      $ref: "./components/schemas/market/MacroIndicatorSeries.yaml"
    MacroIndicatorSeriesResponse:
      $ref: "./components/schemas/market/MacroIndicatorSeriesResponse.yaml"
    PageMeta:
      $ref: "./components/schemas/common/PageMeta.yaml"
    EconomicEventDetail:
      $ref: "./components/schemas/market/EconomicEventDetail.yaml"
    CalendarEvent:
      $ref: "./components/schemas/market/CalendarEvent.yaml"
    CalendarEventsPage:
      $ref: "./components/schemas/market/CalendarEventsPage.yaml"
    CalendarEventsPageResponse:
      $ref: "./components/schemas/market/CalendarEventsPageResponse.yaml"
    MarketNewsTopic:
      $ref: "./components/schemas/market/MarketNewsTopic.yaml"
    MarketNewsItem:
      $ref: "./components/schemas/market/MarketNewsItem.yaml"
    MarketNewsPage:
      $ref: "./components/schemas/market/MarketNewsPage.yaml"
    MarketNewsPageResponse:
      $ref: "./components/schemas/market/MarketNewsPageResponse.yaml"
    MarketNewsDetail:
      $ref: "./components/schemas/market/MarketNewsDetail.yaml"
    MarketNewsDetailResponse:
      $ref: "./components/schemas/market/MarketNewsDetailResponse.yaml"
    QuoteStockCatalogItem:
      $ref: "./components/schemas/market/QuoteStockCatalogItem.yaml"
    QuoteStocksCatalogResponse:
      $ref: "./components/schemas/market/QuoteStocksCatalogResponse.yaml"
    QuoteStock:
      $ref: "./components/schemas/market/QuoteStock.yaml"
    QuoteStockResponse:
      $ref: "./components/schemas/market/QuoteStockResponse.yaml"
    QuoteOrderBookLevel:
      $ref: "./components/schemas/market/QuoteOrderBookLevel.yaml"
    QuoteOrderBook:
      $ref: "./components/schemas/market/QuoteOrderBook.yaml"
    QuoteOrderBookResponse:
      $ref: "./components/schemas/market/QuoteOrderBookResponse.yaml"
    QuoteOhlcvBar:
      $ref: "./components/schemas/market/QuoteOhlcvBar.yaml"
    QuoteOhlcvSeries:
      $ref: "./components/schemas/market/QuoteOhlcvSeries.yaml"
    QuoteOhlcvHistoryResponse:
      $ref: "./components/schemas/market/QuoteOhlcvHistoryResponse.yaml"
    QuoteIndexCatalogItem:
      $ref: "./components/schemas/market/QuoteIndexCatalogItem.yaml"
    QuoteIndicesCatalogResponse:
      $ref: "./components/schemas/market/QuoteIndicesCatalogResponse.yaml"
    QuoteIndex:
      $ref: "./components/schemas/market/QuoteIndex.yaml"
    QuoteIndexResponse:
      $ref: "./components/schemas/market/QuoteIndexResponse.yaml"
    ResolutionDaily:
      $ref: "./components/schemas/market/ResolutionDaily.yaml"
    QuoteForexCatalogItem:
      $ref: "./components/schemas/market/QuoteForexCatalogItem.yaml"
    QuoteForexCatalogResponse:
      $ref: "./components/schemas/market/QuoteForexCatalogResponse.yaml"
    QuoteForexSide:
      $ref: "./components/schemas/market/QuoteForexSide.yaml"
    QuoteForex:
      $ref: "./components/schemas/market/QuoteForex.yaml"
    QuoteForexResponse:
      $ref: "./components/schemas/market/QuoteForexResponse.yaml"
    QuoteCryptoCatalogItem:
      $ref: "./components/schemas/market/QuoteCryptoCatalogItem.yaml"
    QuoteCryptosCatalogResponse:
      $ref: "./components/schemas/market/QuoteCryptosCatalogResponse.yaml"
    QuoteCrypto:
      $ref: "./components/schemas/market/QuoteCrypto.yaml"
    QuoteCryptoResponse:
      $ref: "./components/schemas/market/QuoteCryptoResponse.yaml"
    QuoteCommodityCatalogItem:
      $ref: "./components/schemas/market/QuoteCommodityCatalogItem.yaml"
    QuoteCommoditiesCatalogResponse:
      $ref: "./components/schemas/market/QuoteCommoditiesCatalogResponse.yaml"
    QuoteCommodity:
      $ref: "./components/schemas/market/QuoteCommodity.yaml"
    QuoteCommodityResponse:
      $ref: "./components/schemas/market/QuoteCommodityResponse.yaml"
    QuoteFundCatalogItem:
      $ref: "./components/schemas/market/QuoteFundCatalogItem.yaml"
    QuoteFundsCatalogResponse:
      $ref: "./components/schemas/market/QuoteFundsCatalogResponse.yaml"
    QuoteFund:
      $ref: "./components/schemas/market/QuoteFund.yaml"
    QuoteFundResponse:
      $ref: "./components/schemas/market/QuoteFundResponse.yaml"
    QuoteNavPoint:
      $ref: "./components/schemas/market/QuoteNavPoint.yaml"
    QuoteNavSeries:
      $ref: "./components/schemas/market/QuoteNavSeries.yaml"
    QuoteNavHistoryResponse:
      $ref: "./components/schemas/market/QuoteNavHistoryResponse.yaml"
    QuoteBondCatalogItem:
      $ref: "./components/schemas/market/QuoteBondCatalogItem.yaml"
    QuoteBondsCatalogResponse:
      $ref: "./components/schemas/market/QuoteBondsCatalogResponse.yaml"
    QuoteBond:
      $ref: "./components/schemas/market/QuoteBond.yaml"
    QuoteBondResponse:
      $ref: "./components/schemas/market/QuoteBondResponse.yaml"
    QuoteEtfCatalogItem:
      $ref: "./components/schemas/market/QuoteEtfCatalogItem.yaml"
    QuoteEtfsCatalogResponse:
      $ref: "./components/schemas/market/QuoteEtfsCatalogResponse.yaml"
    QuoteEtf:
      $ref: "./components/schemas/market/QuoteEtf.yaml"
    QuoteEtfResponse:
      $ref: "./components/schemas/market/QuoteEtfResponse.yaml"
    QuoteDealerProductCatalogItem:
      $ref: "./components/schemas/market/QuoteDealerProductCatalogItem.yaml"
    QuoteDealerProductsResponse:
      $ref: "./components/schemas/market/QuoteDealerProductsResponse.yaml"
    QuoteDealerProduct:
      $ref: "./components/schemas/market/QuoteDealerProduct.yaml"
    QuoteDealerProductResponse:
      $ref: "./components/schemas/market/QuoteDealerProductResponse.yaml"
    QuoteDealerPricePoint:
      $ref: "./components/schemas/market/QuoteDealerPricePoint.yaml"
    QuoteDealerPriceSeries:
      $ref: "./components/schemas/market/QuoteDealerPriceSeries.yaml"
    QuoteDealerProductHistoryResponse:
      $ref: "./components/schemas/market/QuoteDealerProductHistoryResponse.yaml"
    StockSector:
      $ref: "./components/schemas/market/StockSector.yaml"
    StockScreenerItem:
      $ref: "./components/schemas/market/StockScreenerItem.yaml"
    StockScreenerResult:
      $ref: "./components/schemas/market/StockScreenerResult.yaml"
    StockScreenerResponse:
      $ref: "./components/schemas/market/StockScreenerResponse.yaml"
    CompanyProfileSectorNode:
      $ref: "./components/schemas/market/CompanyProfileSectorNode.yaml"
    CompanyProfile:
      $ref: "./components/schemas/market/CompanyProfile.yaml"
    CompanyProfileResponse:
      $ref: "./components/schemas/market/CompanyProfileResponse.yaml"
    StockListing:
      $ref: "./components/schemas/market/StockListing.yaml"
    StockListingResponse:
      $ref: "./components/schemas/market/StockListingResponse.yaml"
    OwnershipStake:
      $ref: "./components/schemas/market/OwnershipStake.yaml"
    MajorShareholder:
      $ref: "./components/schemas/market/MajorShareholder.yaml"
    ForeignRoomSummary:
      $ref: "./components/schemas/market/ForeignRoomSummary.yaml"
    StockOwnership:
      $ref: "./components/schemas/market/StockOwnership.yaml"
    StockOwnershipResponse:
      $ref: "./components/schemas/market/StockOwnershipResponse.yaml"
    ForeignRoom:
      $ref: "./components/schemas/market/ForeignRoom.yaml"
    ForeignRoomResponse:
      $ref: "./components/schemas/market/ForeignRoomResponse.yaml"
    ForeignRoomBar:
      $ref: "./components/schemas/market/ForeignRoomBar.yaml"
    ForeignRoomHistory:
      $ref: "./components/schemas/market/ForeignRoomHistory.yaml"
    ForeignRoomHistoryResponse:
      $ref: "./components/schemas/market/ForeignRoomHistoryResponse.yaml"
    StockTechnicalPrice:
      $ref: "./components/schemas/market/StockTechnicalPrice.yaml"
    StockTechnicalPoint:
      $ref: "./components/schemas/market/StockTechnicalPoint.yaml"
    StockTechnicalSeries:
      $ref: "./components/schemas/market/StockTechnicalSeries.yaml"
    StockTechnicals:
      $ref: "./components/schemas/market/StockTechnicals.yaml"
    StockTechnicalsResponse:
      $ref: "./components/schemas/market/StockTechnicalsResponse.yaml"
    TradedAmount:
      $ref: "./components/schemas/market/TradedAmount.yaml"
    StockTrading:
      $ref: "./components/schemas/market/StockTrading.yaml"
    StockTradingResponse:
      $ref: "./components/schemas/market/StockTradingResponse.yaml"
    StockTradingBar:
      $ref: "./components/schemas/market/StockTradingBar.yaml"
    StockTradingHistory:
      $ref: "./components/schemas/market/StockTradingHistory.yaml"
    StockTradingHistoryResponse:
      $ref: "./components/schemas/market/StockTradingHistoryResponse.yaml"
    TradingMethodBreakdown:
      $ref: "./components/schemas/market/TradingMethodBreakdown.yaml"
    TradingFlow:
      $ref: "./components/schemas/market/TradingFlow.yaml"
    TradingFlowResponse:
      $ref: "./components/schemas/market/TradingFlowResponse.yaml"
    TradingFlowBar:
      $ref: "./components/schemas/market/TradingFlowBar.yaml"
    TradingFlowHistory:
      $ref: "./components/schemas/market/TradingFlowHistory.yaml"
    TradingFlowHistoryResponse:
      $ref: "./components/schemas/market/TradingFlowHistoryResponse.yaml"
    OrderSideStatistic:
      $ref: "./components/schemas/market/OrderSideStatistic.yaml"
    StockOrderStatistic:
      $ref: "./components/schemas/market/StockOrderStatistic.yaml"
    StockOrderStatisticResponse:
      $ref: "./components/schemas/market/StockOrderStatisticResponse.yaml"
    StockOrderStatisticBar:
      $ref: "./components/schemas/market/StockOrderStatisticBar.yaml"
    StockOrderStatisticHistory:
      $ref: "./components/schemas/market/StockOrderStatisticHistory.yaml"
    StockOrderStatisticHistoryResponse:
      $ref: "./components/schemas/market/StockOrderStatisticHistoryResponse.yaml"
  responses:
    BadRequest:
      $ref: "./components/responses/BadRequest.yaml"
    Unauthorized:
      $ref: "./components/responses/Unauthorized.yaml"
    RateLimited:
      $ref: "./components/responses/RateLimited.yaml"
    InternalError:
      $ref: "./components/responses/InternalError.yaml"
    NotFound:
      $ref: "./components/responses/NotFound.yaml"
    Forbidden:
      $ref: "./components/responses/Forbidden.yaml"
  headers:
    XRateLimitReset:
      $ref: "./components/headers/XRateLimitReset.yaml"
  parameters:
    UserId:
      $ref: "./components/parameters/UserId.yaml"
    SubAccountId:
      $ref: "./components/parameters/SubAccountId.yaml"
    DeviceId:
      $ref: "./components/parameters/DeviceId.yaml"
    OrderId:
      $ref: "./components/parameters/OrderId.yaml"
x-finhay-signing:
  algorithm: HMAC-SHA256
  encoding: hex-lowercase
  payloadLayout: |-
    {timestamp}
    {method}
    {path}[?{query}]
    {bodyHash}
  timestampToleranceSec: 30
  nonce:
    format: UUIDv4
    ttlSec: 300
    replayError: AUTH_NONCE_REUSED
  bodyHash:
    algorithm: SHA-256
    encoding: hex-lowercase
    header: X-FH-BODYHASH
    required: whenBodyPresent
  appliesTo:
    apiKeyOnly:
      - GET /market/**
      - GET /trading/market/**
      - GET /trading/securities/**
    fullHmac:
      description: All other routes — including every `/users/**` and `/trading/**` path not listed above — require the full HMAC signing block.
    twoFactor:
      description: |
        Write operation đặt / sửa / huỷ lệnh dưới `/trading/oa/**` thêm
        header `X-FH-2FA-TOKEN` (apiKey scheme `FinhayTwoFactor`) cùng
        với 5 header HMAC. Token là daily session JWT do server cấp sau
        khi user xác thực qua OTP.
      routes:
        - POST /trading/oa/sub-accounts/{subAccountId}/orders
        - PUT /trading/oa/sub-accounts/{subAccountId}/orders/{orderId}
        - DELETE /trading/oa/sub-accounts/{subAccountId}/orders/{orderId}
  headers:
    apiKey: "***"
    timestamp: X-FH-TIMESTAMP
    nonce: X-FH-NONCE
    signature: X-FH-SIGNATURE
    bodyHash: X-FH-BODYHASH
x-tagGroups:
  - name: Khởi tạo
    tags:
      - bootstrap
  - name: Dữ liệu thị trường
    tags:
      - market-data
      - fundamental-analysis
      - news-events
      - macroeconomics
      - commodities
      - aggregated
      - mutual-funds
  - name: Người dùng
    tags:
      - total-assets
  - name: Giao dịch
    tags:
      - sub-account
      - portfolio
      - order-book
      - pnl
      - shareholder-rights
      - trading-session
      - order-execution
